.adminview {
    @include float($ltr);
}

.sidebar {
    float: $ltr;
    width: 180px;
    min-height: 635px;
    background: #eee;
}

.maincontent {
    float: left;
    width: calc(100% - 180px);
    min-height: 570px;
}

.titlebar {
    border-bottom: 1px solid #efecec;
    padding: 10px 23px;
    .icol {
        float: left;
        margin: 5px 8px 0 0;
    }
    .righsidedoptions {
        float: $rtl;
        .icol {
            color: #fff;
            margin: 0px 0 0 5px;
            padding: 5px;
            background: #ccc;
            &.themebg {
                background: #48a9e7;
            }
        }
    }
}